#map {
    height: 800px;
    width: 100%;
}

h1{
    text-align: center;
    font-family: Helvetica;
    color: #bf2d28;
}

h4 {
    text-align: center;
    font-family: Helvetica;
    color: #bebebe;
}

body{
    background-color: black;
}